    <div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="" id="">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="User\index">User Index</a>
                    </li>
                    <li>
                        <a href="RoleAdmin\Index">Role Index</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>