input.upshift {

}

.margin10 {
    margin-top: 10px;
}

.punjabiletters {
    font-size: 1.5em;
}

.hinttext {
    color: green;
    font-size: 1.2em;
}

.paddingtop5 {
    padding-top: 5px;
}

.selectionletters {
    font-weight: bold;
    font-size: 1.3em;
}