<select class="form-control" [(ngModel)]="selection" (change)="onSelection(selection)">
    <option value="0">All</option>
    <option value="1">Row 1</option>
    <option value="2">Row 2</option>
    <option value="3">Row 3</option>
    <option value="4">Row 4</option>
    <option value="5">Row 5</option>
    <option value="6">Row 6</option>
    <option value="7">Row 7</option>
    <option value="8">Row 8</option>
    <option value="9">Voiceless Unaspirated</option>
    <option value="10">Voiceless Aspirated</option>
    <option value="11">Voiced Unaspirated</option>
    <option value="12">Voiced Aspirated</option>
    <option value="13">Nasal</option>
    <option value="14">Sangat Lesson 01</option>
    <option value="15">Sangat Lesson 02</option>
    <option value="16">Sangat Lesson 03</option>
    <option value="17">Sangat Lesson 04</option>
    <option value="18">Sangat Lesson 05</option>
    <option value="19">Sangat Lesson 06</option>
    <option value="20">Sangat Lesson 07</option>
    <option value="21">Sangat Lesson 08</option>
    <option value="22">Sangat Lesson 09</option>
    <option value="23">Sangat Lesson 10</option>
    <option value="24">Vowels Join Carriers</option>
    <option value="25">Vowels</option>
</select>