
@{
    ViewData["Title"] = "Introduction";
    ViewData["link"] = "index";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/images/intro/guru-arjan-1.jpg" alt="Guru Arjan the founder of Gurmukhi" title="Guru Arjan" asp-append-version="true" >
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">The Founder of Gurmukhi</h2>
                        <p>Guru Angad (31 March 1504 to 29 March 1552) was the second of the ten Sikh Gurus. 
                            Guru Angad is credited in the Sikh tradition with the Gurmukhi script, which is now the standard writing script for Punjabi language in India. The original Sikh scriptures and most of the historic Sikh literature have been written in the Gurmukhi script.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/images/intro/gurugranthsahib.jpg" alt="Guru Granth Sahib" title="Guru Granth Sahib" asp-append-version="true" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">The Sikh Alphabet</h2>
                        <p>Gurmukhi has 35 letters as well as nine vowel modifiers. In addition there are five special sound modifier symbols. A vertical bar is used to indicate the end of a sentence.</p>
                        <p>Gurmukhi was developed to be a very precise phonetic language. By learning to pronounce Gurmukhi, people could not only learn to read and pronounce the songs written by Guru Nanak; they could also learn how to pronounce the songs that Guru Nanak had preserved during his life from other masters and sages, even if those songs were in a completely different language. The purpose of Gurmukhi was not to simply represent the common language of the time, but to allow people to read and sing sacred songs in other languages, as well.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/images/intro/Ek_onkar.png" alt="Ek Onkar means One God in Gurmukhi" title="One God" asp-append-version="true" >
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Practice Your Gurmukhi</h2>
                        <p>Ik Onkar is the symbol that represents the One Supreme Reality and is a central tenet of Sikh religious philosophy. Ik means one and only one, who cannot be compared or contrasted with any other, is the one universal ever flowing divine melody and existential unstuck never ending sound of God. To simplify Ik means one, Oang the creator and Kar means the creation. So the creator and his creation are not different and he the supreme creator resides everywhere and in everything.</p>
                        <p>This website was originally designed to give an active exercise to practice you Gurmukhi.</p>
                        <p>To start your drills click the <a href="/home/exercise">exercises</a> link.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/images/intro/abcs1.jpg" alt="letter blocks of Gurmukhi" title="letter blocks" asp-append-version="true" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <h2 class="display-4">Start with the basics</h2>
                    <p>On average, it takes more than 2 months before a new behavior becomes automatic, 66 days to be exact. And how long it takes a new habit to form can vary widely depending on the behavior, the person, and the circumstances.</p>
                    <p>Learns the basics, learn the letters a group at time with a <a href="~/letter">letter board</a> and <a href="~/letterslider/1">flash cards</a>.</p>
                    <p>When you have mastered letters, then progress onto words with <a href="~/wordlist">word list</a> and <a href="~/wordslide">word flash cards</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/images/intro/multiplechoice1.png" alt="multiple choice in Gurmukhi and English" title="multiple choice" asp-append-version="true" >
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-4">Practice what you learnt</h2>
                    <p>When you believe you have learnt a group of letters, then you can test yourself with <a href="~/lettermultiplechoice">letter multiple choice</a>.</p>
                    <p>You can test the vocabulary words with more options with <a href="~/wordmultiplechoice">word multiple choice</a> link.</p>
                </div>
            </div>
        </div>
    </div>
</section>    
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/images/intro/fist-place.jpg" alt="First place ribbon for a Gurmukhi challenge" title="First place ribbon" asp-append-version="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <h2 class="display-4">Need more of a Gurmukhi challenge</h2>
                    <p>A more challenging exercise is the letter match with english and gurmukhi letters. <a href="~/letterrandom">Random words</a> are generated and the user has to interpret the letters into english or gurmukhi.</p>
                    <p>Vocabulary word are used to create <a href="~/wordmatch">word match</a> exercise.</p>
                </div>
            </div>
        </div>
    </div>
</section>

