
@{
    ViewData["Title"] = "OtherResouces";
    ViewData["link"] = "otherresouces";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/images/intro/library.jpg" alt="Library of resouces" title="Library of resouces" asp-append-version="true">
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2>Other Resouces</h2>
                    <p>This site will aid and test your basic knowledge of Gurmukhi, but not teach the basic level.</p>
                    <p>Here is a short list of other resources which help you learn Gurmukhi. If you have any suggestions of a good free learning link on the public internet, then forward details via the contact us email.</p>
                    <ul>
                        <li><a href="http://www.billie.grosse.is-a-geek.com/alphabet.html"  target="_blank">Billie the cat - Explains letters groups quite well</a></li>
                        <li><a href="https://www.sikhnet.com/news/learn-gurmukhi-free-online-tutorials" target="_blank">Sikh Net - Learn Gurmukhi</a></li>
                        <li><a href="http://sangattelevision.org/tag/learn-gurmukhi/" target="_blank">Sangat Television - Learn Gurmukhi</a></li>
                        <li><a href="http://www.sikhchannel.tv/catch-up/learn-gurmukhi/" target="_blank">Sikh Channel - Learn Gurmukhi</a></li>
                        <li><a href="http://www.gursevak.com/content/learn-punjabigurmukhigurbani" target="_blank">Gursevak - Learn Punjabi Gurmukhi Gurbani</a></li>
                        <li><a href="http://www.sikhbookclub.com/punjabi-learning-books" target="_blank">Sikh Book Club - Learning Books</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>









