<div class="">
    <h1>Exercises</h1>
    <h2>Overview</h2>
    <p class="margintop5">
        This site will aid you in your personal or private studies of reading and writing the gurmukhi language via english, but other good resources exist which help you learn. If you are brand new to Gurmukhi, then check out the starting point at the foot of this page.
        There are plenty of other resources which will teach you how to speak punjabi.
    </p>
    <p>
        This site is split into learning the gurmukhi letters and common vocabulary.
        If you are a complete beginner then I will recommend the that you see below for links for other good resources.
    </p>
    <p><strong>Please note</strong> this site uses newer javascript technology, which may not be supported on older browsers, mobiles and tables.</p>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/exercise/exletterboard.jpg" alt="Letter board" title="Letter board" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Letter Board</h2>
                        <p>
                            The <a [routerLink]="['/letter']">Letter Board</a> is a good overview of the letter groups and gives a review of a section of letters.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/exercise/exletterflash.jpg" alt="Letter slides" title="Letter slides" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Letter Slide</h2>
                        <p>
                            The <a [routerLink]="['/letterslider/1']">Letter Slide</a> displays the letters is a slider panel and automatically sounds the pronunciation and name of letters.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/exercise/multiplechoice1.jpg" alt="Multiple Choice" title="Multiple Choice" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Multiple Choice</h2>
                        <p>
                            The <a [routerLink]="['/lettermultiplechoice']">Multiple Choice</a> will create multiple choice question for the given letter groupings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/exercise/randomwords.gif" alt="Random Words" title="Random Words" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Random Words</h2>
                        <p>
                            The <a [routerLink]="['/letterrandom']">Random Words</a> will create random letter requiring the anwswers in english or gurmukhi for the given letter groupings. This is so the user can get an understanding of translating gurmukhi via english.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/exercise/wordlist.jpg" alt="Word List" title="Word List" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Word List</h2>
                        <p>
                            The <a [routerLink]="['/wordlist']">Word List</a> display a list of words in a selected cateogry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/intro/flashcards.jpg" alt="Word Slides" title="Word Slides" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Word Slides</h2>
                        <p>
                            The <a [routerLink]="['/wordslide']">Word Slides</a> display a word slides in a selected cateogry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/intro/multiplechoice1.png" alt="multiple choice" title="multiple choice" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Word Mulitple Choice</h2>
                        <p>
                            The <a [routerLink]="['/wordmultiplechoice']">Word Mulitple Choice</a> create a mulitple choice of words where you need to match the translation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle minheight" src="/images/intro/matchwords.jpg" alt="Word Match" title="Word Match" asp-append-version="true">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-5">
                        <h2 class="display-4">Word Match</h2>
                        <p>
                            The <a [routerLink]="['/wordmatch']">Word Match</a> creates question of words where you need to match the translation in gurmukhi and english.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <h3 id="startingpoint">Starting Point</h3>
    <p>There are some good resources on the internet, here are few good starting points.</p>
    <ul>
        <li><a href="http://www.billie.grosse.is-a-geek.com/alphabet.html" target="_blank">Billie the cat - Explains letters groups quite well</a></li>
        <li><a href='https://www.youtube.com/watch?v=XScjZWWW8wYg' target="_blank">Basics of Sikhi - How does Gurmukhi work?</a></li>
        <li><a href='https://www.youtube.com/watch?v=CU3s19hDZlU' target="_blank">Basics of Sikhi - Science of Gurmukhi Alphabet</a></li>
    </ul>
    <h4>Five day course</h4>
    <p>There is a good course by 'Sangat' channel on the youtube.</p>
    <ul>
        <li><a href='https://www.youtube.com/watch?v=0y8JYptwwEg' target="_blank">Sangat Lesson 1</a></li>
        <li><a href='https://www.youtube.com/watch?v=r445AergeP4' target="_blank">Sangat Lesson 2</a></li>
        <li><a href='https://www.youtube.com/watch?v=-Vipf4etxic' target="_blank">Sangat Lesson 3</a></li>
        <li><a href='https://www.youtube.com/watch?v=AmesQ-9kXw4' target="_blank">Sangat Lesson 4</a></li>
        <li><a href='https://www.youtube.com/watch?v=N2-Omc9bXk0' target="_blank">Sangat Lesson 5</a></li>
    </ul>
</div>