<div>Logger viewer</div>
<div class="form-group">
    <label>logging level</label>
    <select class="form-control" [(ngModel)]="logLevelInt" (change)="onLevelChange($event)">
        <option value="0">Off</option>
        <option value="1">Debug</option>
        <option value="2">Info</option>
        <option value="3">Success</option>
        <option value="4">Warning</option>
        <option value="5">Error</option>
    </select>
    <button class="btn btn-primary" (click)="onClearLog()">Clear</button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Date</td>
        <td>Level</td>
        <td>Message</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of logger.loggedData">
        <td>{{row.date.toISOString()}}</td>
        <td>{{row.logleveldesc}}</td>
        <td>{{row.messges.toString()}}</td>
    </tr>
    </tbody>
</table>

